<html>
  <head>
    <meta charset="utf-8">
    <title>Prime Browser</title>
  </head>
  <body>
    <div id="app"></div>
    <script>
      if (window.func && window.func.module) {
        window.module = window.func.module;
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <!-- webpack builds are automatically injected -->
    <script src="vendor.dll.js"></script>
  </body>
</html>
